.flowAppListItem {
  composes: pos-rel flx ai-cen txt-sm pointer from global;
  border-radius: calc(var(--border-rad) - 4px);
  outline: none;
  padding: 4px;
  color: var(--txt);
  transition: background-color 0.2s ease;
}

.flowAppListItem:hover {
  background-color: var(--bg-5);
}

.flowAppListItem:focus-visible {
  box-shadow: 0 0 0 2px var(--accent-color);
}

[color-scheme='dark'] .flowAppListItem:hover {
  background-color: var(--bg-10);
}

.appIcon {
  margin-right: 6px;
  width: 25px;
  height: 25px;
  background-color: var(--bg-40);
  border-radius: 8px;
}

.appTitle {
  composes: m-0 txt-sm fw-nor from global;
  color: var(--text1);
  font-family: var(--font-family);
}
