.flowBuilderWrapper {
  composes: pos-rel from global;
  width: 100%;
  height: 100%;
}

.topRightControls {
  composes: pos-abs flx ai-cen jc-cen from global;
  top: 0.625rem;
  right: 0.625rem;
  z-index: 99;
}

.topLeftControls {
  composes: pos-abs flx ai-cen jc-cen from global;
  top: 0.625rem;
  left: 0.625rem;
  z-index: 99;
}

.backBtnTooltip {
  white-space: nowrap;
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.react-flow__handle.connecting) {
  border-color: var(--accent-light);
}

.loading {
  composes: pos-abs flx ai-cen jc-cen from global;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
